.collection1 {
	padding: 50px 0;

	div[class*="col-"] {
		margin-bottom: 1rem;
	}
	&__collection-item {
		position: relative;
	}
	&__cart {
		position: absolute;
		background: #333333;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 10px;
		right: 15px;
		z-index: 2;
			.fa-opencart {
				font-size: 1.2rem;
				color: #ffffff;
				padding: 7px;
				cursor: pointer;
				transition: all 0.5s ease-in-out;
			&:hover {
				color: #ff355e;
				transform: scale(1.3);
			}
		}
	}
	&__sale-banner {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	&__sale {
		position: absolute;
		bottom: 85px;
		right: 10px;
		text-transform: uppercase;
		font-size: 0.9rem;
		padding: 2px 10px;
		border-radius: 3px;
		background: #333333;
		color: #ffffff;
		visibility: hidden;
	}
	&__sale--active {
		visibility: visible;
		z-index: 2;
	}
	&__product-img {
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 550px;
		position: relative;
		cursor: pointer;
		overflow: hidden;

		&--square {
			width: 380px;
			height: 380px;
			margin: 3.5rem auto;
		}
		&--circle {
			width: 380px;
			height: 380px;
			border-radius: 50%;
			margin: 3.5rem auto;
		}
		&--rectangle {
			width: 100%;
			height: 450px;
		}
		.img-link {
			display: block;
			width: 70%;
			height: 100%;
		}
		img {
			max-width: 70%;
			margin-bottom: 10px;
			transition: all 0.5s ease-in-out;
			z-index: 1;
		}
		&--cover {
			img {
				object-fit: cover;
			}
		}
		&--contain {
			img {
				object-fit: contain;
			}
		}
		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
	&__product-info {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}
	&__product-details {
		width: 100%;
	}
	&__product-title {
		font-size: 1.2rem;
		font-weight: 700;
		display: block;
	}
	&__product-price {
		font-size: 1rem;
		font-weight: 300;
	}
	&__colors {
		display: flex;
		display: none;
	}
	&__color {
		width: 20px;
		height: 20px;
		margin-right: 3px;
		&--blue {
			background: blue;
		}
		&--red {
			background: red;
		}
		&--orange {
			background: orange;
		}
		&--green{
			background: green;
		}
	}
}
