.footer {
	background: #dcdcdc;
	padding: 50px 0;
	&__links {
		display: flex;
		flex-direction: column;
	}
	&__column-title {
		font-size: 0.7rem;
		color: #333333;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}
	&__link {
		color: #333333;
		text-decoration: none;
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #ffffff;
		}
	}
	&__extra {
		display: flex;
		flex-direction: column;
	}
	&__input {
		width: 100%;
		border-radius: 4px;
		padding: 5px 10px;
		border: none;
		font-size: .9rem;
		color: #333333;
		margin-bottom: 0.5rem;
	}
	button {
		width: 100%;
		border-radius: 4px;
		padding: 10px 40px;
		text-align: center;
		font-size: 1rem;
		margin-bottom: 1rem;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #ffffff;
			background: #333333;
		}
	}
	&__social-icons {
		display: flex;
		justify-content: flex-start;
		> :first-child {
			padding-left: 0;
		}
	}
	&__social-link {
		display: block;
		padding: 15px;
		color: #333333;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #ffffff;
		}
	}
	&__bottom {
		border-top: 1px solid #333333;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__copyright {
		color: #333333;
		font-size: 0.8rem;
		margin-top: 1rem;
	}
	&__extra-links  {
		margin-top: 1rem;
		a {
			color: #333333;
			font-size: 0.8rem;
			text-decoration: none;
			padding: 0 15px;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #ffffff;
			}
		}
	}
}
