@use './reset';
@use '../components/components';
@use './bootstrap/scss/bootstrap.scss';

body {
	background: #fefefe;
}
.fixed-nav {
	&.transparent-nav {
		.header {
			background: transparent;
			a {
				color: #fefefe;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: #c69e71;
				}
			}
			.header1__collection-link,
			.header2__collection-link,
			.header3__collection-link {
				.collection-link__sub-links {
					a {
						color: #fefefe;
						&:hover {
							color: #333333;
						}
					}
				}
			}
		}
	}
	.header {
		position: fixed;
		width: 100%;
		z-index: 30;
	}
}
